<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a ><i class="fa-brands fa-facebook"></i></a>
            <a ><i class="fa-brands fa-instagram"></i></a>
            <a ><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="f-info-brand">&copy; Roamly Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy </a>
            &nbsp;
            <a href="/terms">terms</a>
        </div>
    </div>
    
</footer>
