<% layout('layouts/boilerplate') -%>
<body>
    <div class="row">
        <div class="col offset-2">
            <p><%=statuscode  %></p>
            <p><%=message%></p>
            
        </div>
    </div>
    <div class="text-center">
        <img src="/images/Error.png" class="rounded" alt="...">
    </div>
    
    
</body>