<% layout('layouts/boilerplate') -%>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Book here</h2>
            <!--  -->
            <form method="post" action="/listing/booking/<%=view_listing._id %>" class="needs-validation" novalidate>
                <div  class="mb-3">
                    <label for="title" class="form-label">name: </label>
                    <input type="text" name=booking[name] id="title" class="form-control" required>
                    <div class="invalid-feedback">
                        Enter Name.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Enter Email:</label>
                    <input type="email" name=booking[email] id="email" class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter right a email.
                    </div>
                </div>

                <div class="mb-3 md-5">
                    <label class="form-label">Booking Dates:</label>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">check-in:</label>
                            <input type="date" name="booking[checkIn]" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">check-out</label>
                            <input type="date" name="booking[checkOut]" class="form-control" required>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Please select dates.
                    </div>
                </div>

                <button class=" btn btn-primary mb-3" type="submit">Book</button>
            </form>
        </div>
    </div>
    
</body>
